# Version: 1.0.0 (Using https://semver.org/)
# Updated: 20-05-2024
# See http://EditorConfig.org for more information about .editorconfig files.

root = true

# Default settings
[*]
charset = utf-8
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

# Json
[*.json]
indent_size = 2

# Markdown
[*.md]
max_line_length = off
trim_trailing_whitespace = true
insert_final_newline = true

# Powershell
[*.ps1]
end_of_line = crlf
indent_size = 2

# Shell
[*.sh]
end_of_line = lf
indent_size = 2

# Vim
[*.vim]
indent_style = space
indent_size = 4

# Yaml
[*.{yml,yaml}]
indent_style = space
indent_size = 2