#################################################################################
## Ignore temporary files
## From: https://github.com/github/gitignore/
#################################################################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Sensitive Information
config.personal

# Vim
vim/*
!vim/**.md
!vim/colors
!vim/plugins
!vim/spell
!vim/vimrc