#################################################################################
## Ignore MacOS temporary files
## From: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
#################################################################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Sensitive Information
config.personal

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items
